/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.tabcontent2 {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.roundedbox{
	border-radius: 10px;
    border: 2px solid white;
    padding: 10px; 
    padding-top: 0px;
    height: 175px; 
}

#map {
	height: 400px; 
	margin-left: auto;
	margin-right: auto;
	width: 95%;  
}

#Home {background-color: red;}
#Search {background-color: green;}
#Contact {background-color: #aec6cf;}
#About {background-color: orange;}
